<!-- 如果当前control是group类型，那么就递归，否则就按照type渲染-->
<div *ngIf="isFormGroup(controlName); else singleField">
    <div *ngFor="let subControlName of getFormControlsNames(formGroup.get(controlName) as FormGroup)">
        <app-form-field 
            [formGroup]="formGroup.get(controlName) as FormGroup" 
            [controlName]="subControlName"
            [flattenedFormData]="flattenedFormData">
        </app-form-field>
    </div>
</div>
<ng-template #singleField>
    <div *ngIf="fieldInfo.type === 'text'">
        <label>{{ fieldInfo.label }}</label>
        <input type="text" [formControlName]="key">
    </div>
    <!-- 可以根据需要添加更多的字段类型 -->
</ng-template>